:root {
    box-sizing: border-box;
}
*, ::before ::after {
    box-sizing: inherit;
}
.container {
    display: flex;
    overflow: auto;
}
body * + * {
    margin-top: 1.5em;
}
body {
    background-color: lightgray;
}
.header {
    background-color: #2029a3;
    color: #fff;
    padding: 1em 1.5em;
    border-radius: 0.5em;
}
.main {
    background-color: #fff;
    padding: 1.5em 1.5em;
    border-radius: 0.5em;
    width: 70%;
}
.buttons {
    background-color: #fff;
    width: 30%;
    padding: 1.5em;
    margin-top: 0;
    border-radius: 0.5em;
    margin-left: 1.5em;
}
.button {
    padding: 1em 1.5em;
    display: block;
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #747cf5;
    color: #fff;
}
.sponsor-link {
    color: #0a0e4e;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
